/* ---------------------------------------------------------------------------------------------

    #   Lorem Ipsum
    #   Nullam Commodo

/* --------------------------------------------------------------------------------------------- */

/* --------------------------------------------------------------------------------------------- */
/*  #   Imports
/* --------------------------------------------------------------------------------------------- */

@import 'http://fonts.googleapis.com/css?family=Lato:100,300,400,300italic';
@import 'resources/3rd-party/css/normalize.css';
@import 'resources/3rd-party/css/ionicons.min.css';
@import 'resources/3rd-party/css/grid.css';

/* --------------------------------------------------------------------------------------------- */
/*  #   Base
/* --------------------------------------------------------------------------------------------- */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	background-color: #fff;
	color: #555;
	font-family: 'Lato', 'Arial', sans-serif;
	font-size: 20px;
	font-weight: 300;
	text-rendering: optimizeLegibility;
}

/* --------------------------------------------------------------------------------------------- */
/*  #   Clearfix
/* --------------------------------------------------------------------------------------------- */

.clearfix {
	zoom: 1;
}

.clearfix::after {
	clear: both;
	content: '.';
	display: block;
	height: 0;
	visibility: hidden;
}

/* --------------------------------------------------------------------------------------------- */
/*  #   Reusable Components
/* --------------------------------------------------------------------------------------------- */

.row {
	margin: 0 auto;
	max-width: 1140px;
}

section {
	padding: 80px 0;
}

.box {
	padding: 1%;
}

/* --------------------------------------------------------------------------------------------- */
/*  #   Headings
/* --------------------------------------------------------------------------------------------- */

h1,
h2,
h3 {
	font-weight: 300;
	text-transform: uppercase;
}

h1 {
	color: #fff;
	font-size: 240%;
	letter-spacing: 1px;
	margin: 0;
	margin-bottom: 28px;
	word-spacing: 4px;
}

h2 {
	font-size: 180%;
	margin-bottom: 30px;
	text-align: center;
	word-spacing: 2px;
}

h3 {
	font-size: 110%;
	margin-bottom: 15px;
}

h2:after {
	background-color: #e67e22;
	content: ' ';
	display: block;
	height: 2px;
	margin: 0 auto;
	margin-top: 30px;
	width: 100px;
}

/* --------------------------------------------------------------------------------------------- */
/*  #   Paragraphs
/* --------------------------------------------------------------------------------------------- */

.long-copy {
	line-height: 145%;
	width: 70%;
	margin-left: 15%;
}

.box p {
	font-size: 90%;
	line-height: 145%;
}

/* --------------------------------------------------------------------------------------------- */
/*  #   Icons
/* --------------------------------------------------------------------------------------------- */

.icon-big {
	color: #e67e22;
	font-size: 350%;
	display: block;
	margin-bottom: 10px;
}

.icon-small {
	color: #e67e22;
	display: inline-block;
	font-size: 120%;
	line-height: 120%;
	margin-right: 10px;
	margin-top: -4px;
	text-align: center;
	vertical-align: middle;
	width: 30px;
}

/* --------------------------------------------------------------------------------------------- */
/*  #   Links
/* --------------------------------------------------------------------------------------------- */

a:link,
a:visited {
	border-bottom: 1px solid #e67e22;
	color: #e67e22;
	padding-bottom: 1px;
	text-decoration: none;
	transition: border-bottom 0.2s, color 0.2s;
}

a:hover,
a:active,
a:focus {
	border-bottom: 1px solid transparent;
	color: #555;
}

/* --------------------------------------------------------------------------------------------- */
/*  #   Buttons
/* --------------------------------------------------------------------------------------------- */

.btn:link,
.btn:visited,
input[type='submit'] {
	border-radius: 200px;
	display: inline-block;
	font-weight: 300;
	padding: 10px 30px;
	text-decoration: none;
	transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:link,
.btn-full:visited,
input[type='submit'] {
	background-color: #e67e22;
	border: 1px solid #e67e22;
	color: #fff;
	margin-right: 15px;
}

.btn-ghost:link,
.btn-ghost:visited {
	border: 1px solid #e67e22;
	color: #e67e22;
}

.btn:hover,
.btn:active,
.btn:focus,
input[type='submit']:hover,
input[type='submit']:focus {
	background-color: #cf6d17;
}

.btn-full:hover,
.btn-full:active,
.btn-full:focus {
	border: 1px solid #cf6d17;
	color: #fff;
}

.btn-ghost:hover,
.btn-ghost:active,
.btn-ghost:focus {
	border: 1px solid #cf6d17;
	color: #fff;
}

/* --------------------------------------------------------------------------------------------- */
/*  #   Section Header
/* --------------------------------------------------------------------------------------------- */

.section-hero {
	background-attachment: fixed;
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url(resources/images/hero.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
}

.hero-text-box {
	left: 50%;
	position: absolute;
	top: 50%;
	transform: translate(-50%, -50%);
	width: 1140px;
}

/* --------------------------------------------------------------------------------------------- */
/*  #   Section Header | Logo
/* --------------------------------------------------------------------------------------------- */

.logo {
	float: left;
	height: 100px;
	margin-top: 20px;
	width: auto;
}

/* --------------------------------------------------------------------------------------------- */
/*  #   Section Header | Nav
/* --------------------------------------------------------------------------------------------- */

.main-nav {
	float: right;
	list-style: none;
	margin-top: 55px;
}

.main-nav li {
	display: inline-block;
	margin-left: 40px;
}

.main-nav li a:link,
.main-nav li a:visited {
	color: #fff;
	border-bottom: 2px solid transparent;
	font-size: 90%;
	padding: 8px 0;
	text-decoration: none;
	text-transform: uppercase;
	transition: border 0.2s;
}

.main-nav li a:hover,
.main-nav li a:active,
.main-nav li a:focus {
	border-bottom: 2px solid #e67e22;
}

/* --------------------------------------------------------------------------------------------- */
/*  #   Section Features
/* --------------------------------------------------------------------------------------------- */

.section-features .long-copy {
	margin-bottom: 30px;
}

/* --------------------------------------------------------------------------------------------- */
/*  #   Section Meals
/* --------------------------------------------------------------------------------------------- */

.section-meals {
	padding: 0;
}

.meals-showcase {
	list-style: none;
	width: 100%;
}

.meals-showcase li {
	display: block;
	float: left;
	width: 25%;
}

.meal-photo {
	background-color: #000;
	margin: 0;
	overflow: hidden;
	width: 100%;
}

.meal-photo img {
	height: auto;
	opacity: 0.7;
	transform: scale(1.15);
	transition: transform 0.5s, opacity 0.5s;
	width: 100%;
}

.meal-photo img:hover {
	opacity: 1;
	transform: scale(1.03);
}

/* --------------------------------------------------------------------------------------------- */
/*  #   Section Works
/* --------------------------------------------------------------------------------------------- */

.section-steps {
	background-color: #f4f4f4;
}

.steps-box:first-child {
	margin-top: 30px;
	padding-right: 3%;
	text-align: right;
}

.steps-box:last-child {
	margin-top: 70px;
	padding-left: 3%;
}

.app-screen {
	width: 40%;
}

.works-step {
	margin-bottom: 50px;
}

.works-step:last-of-type {
	margin-bottom: 80px;
}

.works-step div {
	color: #e67e22;
	border: 2px solid #e67e22;
	border-radius: 50%;
	display: block;
	font-size: 150%;
	float: left;
	height: 55px;
	margin-right: 25px;
	padding: 5px;
	text-align: center;
	width: 55px;
}

.btn-app:link,
.btn-app:visited {
	border-bottom: none;
}

.btn-app img {
	height: 50px;
	margin-right: 10px;
	width: auto;
}

/* --------------------------------------------------------------------------------------------- */
/*  #   Section Cities
/* --------------------------------------------------------------------------------------------- */

.box img {
	height: auto;
	margin-bottom: 15px;
	width: 100%;
}

.city-feature {
	margin-bottom: 5px;
}

/* --------------------------------------------------------------------------------------------- */
/*  #   Section Testimonials
/* --------------------------------------------------------------------------------------------- */

.section-testimonials {
	background-attachment: fixed;
	background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8)), url(resources/images/back-customers.jpg);
	background-size: cover;
	color: #fff;
}

blockquote {
	font-style: italic;
	line-height: 145%;
	margin-top: 40px;
	padding: 2%;
	position: relative;
}

blockquote::before {
	content: '\201C';
	display: block;
	font-size: 500%;
	left: -5px;
	position: absolute;
	top: 5px;
}

cite {
	display: block;
	font-size: 90%;
	margin-top: 25px;
}

cite img {
	border-radius: 50%;
	height: 45px;
	margin-right: 10px;
	vertical-align: middle;
}

/* --------------------------------------------------------------------------------------------- */
/*  #   Section Plans
/* --------------------------------------------------------------------------------------------- */

.section-plans {
	background-color: #f4f4f4;
}

.plan-box {
	background-color: #fff;
	border-radius: 5px;
	box-shadow: 0 2px 2px #efefef;
	margin-left: 5%;
	width: 90%;
}

.plan-box div {
	border-bottom: 1px solid #e8e8e8;
	padding: 15px;
}

.plan-box div:first-child {
	background-color: #fcfcfc;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
}

.plan-box div:last-child {
	border-bottom: none;
	text-align: center;
}

.plan-price {
	color: #e67e22;
	font-size: 300%;
	font-weight: 100;
	margin-bottom: 10px;
}

.plan-price span {
	font-size: 30%;
	font-weight: 300;
}

plan-price-meal {
	font-size: 80%;
}

.plan-box ul {
	list-style: none;
}

.plan-box ul li {
	padding: 5px 0;
}

/* --------------------------------------------------------------------------------------------- */
/*  #   Section Contact
/* --------------------------------------------------------------------------------------------- */

.contact-form {
	width: 60%;
	margin: 0 auto;
}

input[type='email'],
input[type='text'],
select,
textarea {
	width: 100%;
	padding: 7px;
	border-radius: 3px;
	border: 1px solid #ccc;
}

textarea {
	height: 100px;
}

input[type='checkbox'] {
	margin: 10px 5px 10px 0;
}

*:focus {
	outline: none;
}

/* --------------------------------------------------------------------------------------------- */
/*  #   Section Footer
/* --------------------------------------------------------------------------------------------- */

.section-footer {
	background-color: #333;
	font-size: 80%;
	padding: 50px;
}

.footer-nav {
	float: left;
	list-style: none;
}

.social-links {
	float: right;
	list-style: none;
}

.footer-nav li,
.social-links li {
	display: inline-block;
	margin-right: 20px;
}

.footer-nav li:last-child,
.social-links li:last-child {
	margin-right: 0;
}

.footer-nav li a:link,
.footer-nav li a:visited,
.social-links li a:link,
.social-links li a:visited {
	border: 0;
	color: #888;
	text-decoration: none;
}

.footer-nav li a:hover,
.footer-nav li a:active,
.footer-nav li a:focus {
	color: #ddd;
}

.social-links li a:link,
.social-links li a:visited {
	font-size: 160%;
}

.ion-social-facebook,
.ion-social-twitter,
.ion-social-googleplus,
.ion-social-instagram {
	transition: color 0.2s;
}

.ion-social-facebook:hover {
	color: #3b5998;
}

.ion-social-twitter:hover {
	color: #00aced;
}

.ion-social-googleplus:hover {
	color: #dd4b39;
}

.ion-social-instagram:hover {
	color: #517fa4;
}

footer p {
	color: #888;
	margin-top: 20px;
	text-align: center;
}

/* --------------------------------------------------------------------------------------------- */
/*  #   Section Pizza
/* --------------------------------------------------------------------------------------------- */

.section-pizza {
	align-items: center;
	background: linear-gradient(to bottom right, #67b26f, #4ca2cd);
	display: flex;
	height: 100vh;
	justify-content: center;
	padding: 50px;
}

.pizza {
	align-items: stretch;
	border-radius: 4px;
	box-shadow: 0 30px 80px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	max-width: 800px;
	overflow: hidden;
}

.pizza__hero {
	flex: 0 0 45%;
}

.pizza__img {
	display: block;
	width: 100%;
}

.pizza__content {
	background: white;
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 35px 30px;
}

.pizza__price {
	align-items: center;
	background: linear-gradient(to bottom, #67b26f, #4ca2cd);
	color: #fff;
	display: flex;
	flex: 0 0 50px;
	font-size: 18px;
	justify-content: center;
	writing-mode: vertical-rl;
}

.pizza__title {
	align-items: center;
	display: flex;
	margin-bottom: 20px;
}

.pizza__heading {
	font-size: 20px;
	margin-right: auto;
}

.pizza__tag {
	border-radius: 100px;
	color: #fff;
	font-size: 10px;
	margin-left: 7px;
	padding: 2px 7px;
	text-transform: uppercase;
}

.pizza__tag--1 {
	background-color: #67b26f;
}
.pizza__tag--2 {
	background-color: #4ca2cd;
}

.pizza__description {
	font-size: 14px;
}

.pizza__details {
	display: flex;
	margin-top: auto;
}

.pizza__detail {
	align-items: center;
	display: flex;
	font-size: 15px;
	font-weight: 700;
	margin-right: 20px;
	text-transform: uppercase;
}

.emoji {
	font-size: 20px;
	margin-right: 3px;
}

/* -- fixes -- */
.pizza__heading {
	margin-bottom: 0;
}

.pizza__heading::after {
	display: none;
}

.pizza__heading img.emoji {
	display: none !important;
}
